*DS_Store
*.pyc
/.project
/.pydevproject
/dist/
.DS_Store
.env
*.swp
*idea.py
*.sublime-*

*.egg
/build/
/backup/
/.python-version
/env/
/passpie.egg-info/
/testing.py
*.bak
/.coverage
*~
/tests/key.asc
/tests/database/.gnupg/*
/.eggs/
/.tox/
/passpie.egg-info/
/data.db
/forks
/TODO.org
.cache/*
/Vagrantfile
/.vagrant/*
