*DS_Store
*.pyc
/.project
/.pydevproject
/dist/
/pydub.egg-info/
.DS_Store
.env
*.swp
.idea

*.egg
/build/
/backup/
/.python-version
/env/
/pysswords.egg-info/
/testing.py
*.bak
/.coverage
*~
/tests/key.asc
/tests/database/.gnupg/*
/.eggs/
/.tox/
