version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - run:
          command: ls
          name: List

workflows:
  main:
    jobs:
      - build-and-test
